$hayuPink: #ff3d67;
$hayuWhite: #ffffff;
$hayuGray: #747678c3;
$footerBackgroundImage: url("https://cdn.one.accedo.tv/files/5ce816f023eec60010a1fbca");
$homeBackgroundImage: url("https://www.hayu.com/assets/images/coralTablet.e5e20491f2ba2f5e0c512d4ea56fcb84.png");
