@import "../../themes/GlobalTheme.scss";


.nav-init {
  background-color: rgba(0, 0, 0, 0.009);
  height: 110px;
  padding: 0px 6.66%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: fixed; 
  top: 0;
  width: 90%;

  .btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      margin: 0 2rem;
      cursor: pointer;
      color: $hayuGray;
    }

    .sign-in-btn {
      margin: 0 1.5rem;
      padding: 1rem;
      background-color: $hayuPink;
      color: $hayuWhite;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;

      span {
        margin: 0 0.5rem;
      }
    }
  }
}

// USE WHEN I HAVE PICKED UP SCROLL FROM HOME PAGE
.nav {
  background-color: $hayuWhite;
  height: 110px;
  padding: 0px 6.66%;
  align-items: center;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: fixed; 
  top: 0;
  width: 90%;

  .btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      margin: 0 2rem;
      cursor: pointer;
      color: $hayuGray;
    }

    .sign-in-btn {
      margin: 0 1.5rem;
      padding: 1rem;
      background-color: $hayuPink;
      color: $hayuWhite;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;

      span {
        margin: 0 0.5rem;
      }
    }
  }
}
