@import "../../themes/GlobalTheme.scss";

.card-container {
  display: flex;
  position: relative;

  .card {
    margin: 0 10px;
    cursor: pointer;
    width: 250px;

    img {
      max-height: 170px;
      max-width: 250px;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }

    .card-resume {
      display: inline-block;
      position: relative;
      width: 100%;

      h4 {
        color: $black;
        margin: 0.5rem 0;
      }

      .description {
        margin: 2% 0px 5%;
        padding-right: 2%;

        span {
          color: $hayuGrayDark;
          font-family: SharpSansMedium;
          font-size: 15px;
          line-height: 15px;
          margin: 0px;
        }
      }

      .date {
        span {
          color: $hayuGray;
          font-family: SharpSansBold;
          font-size: 13px;
          line-height: 14px;
          text-transform: uppercase;
          letter-spacing: 0.7px;
          margin: 0px;
        }
      }
    }
  }

  .arrow-left {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 20%;
    left: 5%;
    color: $hayuGray;
    opacity: 0;
  }

  .arrow-right {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 20%;
    right: 5%;
    color: $hayuGray;
    opacity: 0;
  }
}

.card-container:hover {
  .arrow-left,
  .arrow-right {
    opacity: 1;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    color: $hayuPink;
  }
}
