@import "../../themes/GlobalTheme.scss";

.card-container {
  display: flex;
  justify-content: space-between;
  position: relative;


  .card {
    margin: 0 16px;

    img {
      max-height: 170px;
      max-width: 250px;
      height: 150px;
      width: 220px;
    }
  }

  .arrow-left {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    left: 5%;
    color: $hayuGray;
    opacity: 0;
  }

  .arrow-right {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    right: 5%;
    color: $hayuGray;
    opacity: 0;
  }
}

.card-container:hover {
  .arrow-left,
  .arrow-right {
    opacity: 1;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    color: $hayuPink;
  }
}
