@import "../../themes/GlobalTheme.scss";

.container {
  height: auto;
  padding: 40px 20px;
  background: $footerBackgroundImage center center / cover no-repeat $hayuWhite;
  background-repeat: no-repeat;
  background-position: center center;
  color: $hayuWhite;
  // grid-template-columns: 1fr;
  // grid-template-rows: auto;
  // grid-template-areas:
  //   "logo"
  //   "socialAndMarket"
  //   "navLinks"
  //   "description";
  //   display: grid;

  position: absolute;
  z-index: 2;
  width: 100vw;
  margin-top: 500px;
}
