@import '../../themes/GlobalTheme.scss';

.container {
  background-color: $hayuWhite;
  position: relative;
  inset: 535px 0% auto;
  z-index: 2;
  display: block;
  border-radius: 16px;
  min-height: 100%;
  top: 450px;

  .carousel {
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
